*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom right , rgb(8, 8, 204) , purple);
    display: grid;
    place-content: center;
}
.container{
    background: white;
padding: 30px 50px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 26px;
    font-weight: 700;
    width: 400px;
  
}
.icon{
font-size: 35px;
margin-top: -3PX;
/* margin-top: -2px; */
}
.input{
    display: flex;
    margin-top: 20px;
    outline: none;
    
}
.input input{
   height: 30px;width: 300px;
   border-right: none;
   outline: 0;
   border-top-left-radius: 30px;   
   border-bottom-left-radius: 30px; 
   padding-left: 15px;  
   border: 2px solid  orangered;
   font-size: 14px;
}
.input input::placeholder{
    color: black;
}
.input .add{display: grid;
    place-content: CENTER;
    background: orangered;
    text-align: center;
    padding: 5px 40px;
    border-top-Right-radius: 30px;   
    border-bottom-Right-radius: 30px; 
    border-left: none;
    text-decoration: none;
  cursor: pointer;
 
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 20px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid;
    left: 0px;
    
}
ul li.checked{
    text-decoration: line-through;

}
ul li.checked::before{
    background: orangered;
}
ul li span{
    position: absolute;
    right: 5%;
    top: 40%;
    cursor: pointer;
    color: red;
}
ul li span:hover{
    scale: 1.1;
}